<mat-card class="goal-card" (click)="goToGoalDetails(goal.id)">
  <img
    mat-card-image
    [src]="goal.imageUrl || 'assets/default-goal.jpg'"
    alt="{{ goal.title }}"
  />
  <mat-card-content>
    <h2>{{ goal.title }}</h2>
    <p>
      Saved {{ goal.savedAmount | currency }}/{{
        goal.targetAmount | currency
      }}
      ({{ progressPercentage | number : "1.0-2" }}%)
    </p>
    <!-- <p>Saving Start Date: {{ goal.savingStartDate | date : "mediumDate" }}</p> -->
    @if(goal.dueDate) {

    <p>Due Date: {{ goal.dueDate | date : "mediumDate" }}</p>
    }
  </mat-card-content>
</mat-card>
