.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

mat-card {
  padding: 20px;
  width: 300px;
}

.error-message {
  color: red;
  margin-top: 10px;
}
